#content {
	max-width: 500px;
	margin: 0 auto;
	font-family: monospace;
}

#header {
	margin: 0 auto;
	padding-top: 50px;
}

img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: monospace;
	font-size: 48px;
	text-align: center;
}

.commentForm textArea {
	width: 500px;
	margin-top: 0.5em;
}

.authorName {
	width: 300px;
}