body {
	margin: 0;
		background-color: #F3EAD7;
}

#header {
	margin: 0 auto;
	padding: 50px;
	margin-bottom: 50px;
	background-color: #DBD7C5;
}

#content {
	max-width: 500px;
	margin: 0 auto;
	font-family: monospace;
}

img {
	border-radius: 50%;
	display: block;
	margin: 0 auto;
}

h1 {
	font-family: monospace;
	font-size: 48px;
	text-align: center;
}

.commentBox > h2 {
	font-family: monospace;
	font-size: 36px;
	text-align: center;
}

.commentForm textArea {
	width: 500px;
	margin-top: 0.5em;
}

.authorName {
	width: 300px;
}